.button {
  display: block;
  padding: 15px 5px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  border: 2px solid white;
  border-radius: 50px;
}

.button--downloads {
  color: @header-color;

  &:hover {
    color: @likes-color;
    background-color: @text-background;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}
