.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @text-color;
}

.copyright__logo img {
  display: block;
}

.copyright__text {
  padding-right: 15px;
}
