.downloads {
  margin-top: -80px;
  color: @header-color;
  text-align: center;
  background: @background url("../img/bg-back-mobile@1x.jpg") no-repeat 50% -35px;
  background-size: cover;

  @media (min-resolution: @retina-dppx) {
    background: @background url("../img/bg-back-mobile@2x.jpg") no-repeat 50% -35px;
    background-size: cover;
  }
}

.downloads__wrapper {
  background-repeat: no-repeat;
  background-position: 36% 31%;
}

.downloads__slogan {
  padding-top: 100px;
  padding-bottom: 310px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  color: @header-color;
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat 0 100%;

  @media (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png");
    background-size: 258px 286px;
  }
}

.downloads__wrapper-app {
  padding-top: 30px;
  padding-bottom: 10px;
  background-color: @downloads-background;
}

.downloads__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 20px;
  list-style: none;
}

.downloads__note {
  padding-bottom: 18px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: @header-color;
}

.downloads__link {
  display: block;
  margin-left: 17px;
  margin-right: 19px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;

  &--apple {
    width: 47px;
    height: 57px;
    background-image: url("../img/logo-apple.svg");
  }

  &--android {
    width: 42px;
    height: 47px;
    background-image: url("../img/logo-android.svg");
  }

  &--windows {
    width: 44px;
    height: 42px;
    background-image: url("../img/logo-microsoft.svg");
  }
}

@media (min-width: @tablet-width) {
  .downloads {
    margin-top: -125px;
    background: @background url("../img/bg-back-tablet@1x.jpg") no-repeat 50% 15px;
    background-size: cover;

    @media (min-resolution: @retina-dppx) {
      background: @background url("../img/bg-back-tablet@2x.jpg") no-repeat 50% 15px;
      background-size: cover;
    }
  }

  .downloads__wrapper {
    width: 620px;
    margin: 0 auto;
    padding: 0 20px;
    background: url("../img/iphone-hand-tablet@1x.png") no-repeat 45% 100%;

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png");
      background-size: 700px 545px;
    }
  }

  .downloads__slogan {
    width: 220px;
    margin: 0;
    padding-top: 219px;
    padding-bottom: 15px;
    padding-left: 40px;
    font-size: 40px;
    line-height: 47px;
    font-weight: 300;
    background: transparent;
  }

  .downloads__wrapper-app {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 17px;
    background: transparent;
  }

  .downloads__app-store {
    width: 296px;
    margin: 0;
  }

  .downloads__list {
    width: 300px;
    margin-top: 50px;
    margin-left: 0;
    padding: 0;
  }

  .downloads__note {
    width: 300px;
    margin-top: 15px;
    margin-bottom: 80px;
    margin-left: 0;
    padding-left: 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
  }
}

@media (min-width: @desktop-width) {
  .downloads {
    margin-top: -125px;
    background: @background url("../img/bg-back-desktop@1x.jpg") no-repeat 50% 0;
    background-size: cover;

    @media (min-resolution: @retina-dppx) {
      background: @background url("../img/bg-back-desktop@2x.jpg") no-repeat 50% 23px;
      background-size: cover;
    }
  }

  .downloads__wrapper {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    background: url("../img/iphone-hand-desktop@1x.png") no-repeat -30% 100%;

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
      background-size: 1050px 645px;
    }
  }

  .downloads__wrapper-app {
    padding-bottom: 15px;
  }

  .downloads__slogan {
    width: 240px;
    margin: 0;
    padding-top: 232px;
    padding-bottom: 35px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 50px;
    line-height: 60px;
    font-weight: 300;
  }

  .downloads__list {
    margin-top: 70px;
  }

  .downloads__note {
    width: 300px;
    margin-top: 30px;
    margin-bottom: 110px;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
  }
}
