@textcolor: #ffffff;

.downloads {
  font-family: "Open Sans", "Arial", sans-serif;
  color: @textcolor;
  text-align: center;
}

.downloads__slogan {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 320px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  color: @textcolor;
  text-transform: uppercase;
  background:
   url("../img/iphone-hand-mobile@1x.png") no-repeat 50% 100%,
   url("../img/bg-back-mobile@1x.jpg") no-repeat 50% 0;
}

.downloads__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #1d2631;
}

.downloads__app-store {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: @textcolor;
  text-decoration: none;
}

.downloads__list {
  text-align: center;
  list-style: none;
}

.downloads__note {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: @textcolor;
}

.downloads__item a {
  text-decoration: none;
}

.downloads__item--apple {
  padding-top: 25px;
  padding-bottom: 40px;
  background: url("../img/logo-apple.svg") no-repeat 50% 50%;
}

.downloads__item--android {
  padding-top: 25px;
  padding-bottom: 25px;
  background: url("../img/logo-android.svg") no-repeat 50% 50%;
}

.downloads__item--windows {
  padding-top: 25px;
  padding-bottom: 25px;
  background: url("../img/logo-microsoft.svg") no-repeat 50% 50%;
}
