@features-text: #283645;

.features {
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  text-align: center;
}

.features__slogan {
  margin: 0;
  padding-top: 45px;
  padding-bottom: 30px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
}

.features__list {
  margin: 0;
  padding-top: 85px;
  padding-bottom: 330px;
  background: url("../img/iphone-screen-mobile@1x.png") no-repeat 52% 100%;
  background-color: #f2f2f2;
  list-style: none;
}

.features__subtitle {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.features__description {
  margin: 0;
  padding-bottom: 40px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: @features-text;
}
