.form-input__input {
  box-sizing: border-box;
  padding: 10px 20px;
  font: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  color: @text-color;
  border: 2px solid  @border-color;
  border-radius: 3px;

  &:hover {
    border: 2px solid  @text-color;
  }

  &:active {
    border: 2px solid  @likes-color;
  }
}

.form-input__label {
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
  color: @text-color;
  text-align: left;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
}

@media (min-width: @tablet-width) {
  .form-input {
    pisition: relative;
  }

  .form-input__background {
    display: block;
    position: absolute;
    width: 43px;
    height: 43px;
    border-radius: 2px;

    &--mobile {
      margin-left: 451px;
      background: @border-color url("../img/icon-phone.svg") no-repeat 50% 50%;
    }

    &--email {
      margin-left: 451px;
      background: @border-color url("../img/icon-mail.svg") no-repeat 50% 50%;
    }
  }
}

@media (min-width: @desktop-width) {
  .form-input__background {
    &--mobile {
      margin-left: 330px;
    }

    &--email {
      margin-left: 330px;
    }
  }
}
