.form-field {
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #283645;
}

.form-field__wrapper {
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat 50% 0;
}

.form-field__title {
  margin: 0;
  padding-top: 35px;
  padding-bottom: 50px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
}

.form-field__text {
  margin: 0;
  padding-top: 55px;
  padding-bottom: 50px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
  background-color: #ffffff;
}

