.form-input__input {
  box-sizing: border-box;
  padding: 10px 20px;
  font: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  color: @text-color;
  border: 2px solid  @border-color;
  border-radius: 3px;

  &--area {
    width: 100%;
    height: 200px;
    resize: none;
  }

  &:hover {
    border: 2px solid  @text-color;
  }

  &:active {
    border: 2px solid  @likes-color;
  }
}

.form-input__label {
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
  color: @text-color;
  text-align: left;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;

  &--checkbox,
  &--radio {
    position: relative;
    display: block;
    padding-left: 70px;
  }
}

.form-input__input--checkbox + label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 35px;
  height: 35px;
  background-color: @text-background;
  border: 2px solid @border-color;
}

.form-input__input--checkbox:checked + label::before {
  background: @text-background url("../img/icon-check.svg") no-repeat 50% 50%;
}

.form-input__input--checkbox:hover + label::before {
  border: 2px solid @text-color;
}

.form-input__input--checkbox:active + label::before {
  border: 2px solid @likes-color;
}

.form-input__input--radio + label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 12px;
  height: 12px;
  background-color: @text-background;
  border: 10px solid @header-color;
  border-radius: 50%;
  box-shadow: 0 0 0 2px @border-color;
}

.form-input__input--radio:checked + label::before {
  background-color: @likes-color;
}

.form-input__input--radio:hover + label::before {
  box-shadow: 0 0 0 2px @text-color;
}

.form-input__input--radio:active + label::before {
  box-shadow: 0 0 0 2px @likes-color;
}

@media (min-width: @tablet-width) {
  .form-input__input--area {
    width: 496px;
    height: 200px;
    margin: 20px 60px;
  }

  .form__userdata--contacts {
    pisition: relative;
  }

  .form-input__input--mobile {
    background: transparent;
  }

  .form-input__background {
    position: absolute;
    width: 53px;
    height: 53px;
    margin-top: -118px;
    margin-left: 501px;
    border-radius: 2px;
    background: @border-color;

    &--mobile {
      background: @border-color url("../img/icon-phone.svg") no-repeat 50% 50%;
    }

    &--email {
      background: @border-color url("../img/icon-mail.svg") no-repeat 50% 50%;
    }
  }
}

@media (min-width: @desktop-width) {
  .form-input__input--area {
    width: 820px;
    height: 127px;
    margin: 20px 60px;
  }

  .form-input__background {
    margin-top: 16px;

    &--mobile {
      margin-left: 320px;
    }

    &--email {
      margin-left: 740px;
    }
  }
}
