.gallery {
  margin: 0 auto;
  color: @header-color;
}

.gallery__slogan {
  max-width: 250px;
  margin: 0 auto;
}

.gallery__wrapper-slogan {
  background-color: @text-background;
}

.gallery__wrapper-panorama {
  position: relative;
}

.gallery__sign {
  position: absolute;
  top: 0;
  right: 20px;
  display: block;
  width: 140px;
  height: 25px;
  padding: 5px 0;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  color: @header-color;
  text-align: center;
  text-transform: uppercase;
  background-color: @likes-color;
}

.gallery__photo {
  width: 100%;
  display: block;
}

.gallery__list {
  padding: 0;
  list-style: none;
}

.gallery__item {
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .gallery__slogan {
    max-width: 500px;
  }

  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .gallery__slogan {
    max-width: 600px;
  }
}
