.gallery {
  margin: 0 auto;
  color: @header-color;
}

.gallery__slogan {
  max-width: 250px;
  margin: 0 auto;
}

.gallery__wrapper-slogan {
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 50px;
  background-color: @text-background;
}

.gallery__wrapper-panorama {
  position: relative;
}

.gallery__sign {
  position: absolute;
  top: 0;
  right: 20px;
  display: block;
  width: 140px;
  height: 25px;
  padding: 5px 0;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  color: @header-color;
  text-align: center;
  text-transform: uppercase;
  background-color: @likes-color;
}

.gallery__photo {
  width: 100%;
  display: block;
}

.gallery__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
}

.gallery__item {
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .gallery__wrapper-slogan {
    padding-top: 94px;
    padding-bottom: 75px;
  }

  .gallery__slogan {
    max-width: 500px;
  }

  .gallery__sign {
    top: 58px;
  }

  .gallery__photo {
    min-height: 510px;
    object-fit: cover;
  }

  .gallery__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .gallery__wrapper-slogan {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .gallery__slogan {
    max-width: 600px;
  }

  .gallery__photo {
    min-height: 500px;
  }

  .gallery__sign {
    top: 54px;
    right: 130px;
  }
}
