.page-footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: @text-background;

  &--index {
    display: none;
  }
}

.page-footer__logo {
  .star {
    display: none;
  }
  margin-bottom: 38px;
}

.page-footer__logo:hover .letters {
  path {
    fill: @likes-color;
  }
}

.page-footer__logo:active {
  opacity: 0.3;
}

.page-footer__logo:active .letters {
  path {
    fill: @text-color;
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
  }

  .page-footer__logo {
    margin-top: 5px;
  }

  .page-footer--index {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    margin-bottom: 40px;
  }

  .page-footer__logo {
    margin-right: 20px;
  }

  .page-footer__logo .star {
    display: block;
  }

  .page-footer--photo,
  .page-footer--form {
    .social-list {
      margin-left: -5px;
    }
  }
}
