.price__background {
  margin-top: 42px;
  padding-top: 90px;
  padding-bottom: 45px;
  background: @features-background url("../img/bg-triangle-white.svg") no-repeat 50% 0;
  background-size: contain;
}

.price__wrapper {
  width: 320px;
  margin: 0 auto;
  overflow: hidden;
}

.price__table {
  position: relative;
  left: -300px;
  width: 900px;
  padding: 0;
  margin-bottom: 40px;
  background-color: @text-background;
  border-collapse: collapse;
  border-right: 2px solid @border-color;
  overflow: hidden;
}

.price__tariff {
  height: 100px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: @header-color;
  text-align: center;
  text-transform: uppercase;

  span {
    display: block;
    font-size: 24px;
    font-weight: 300;
  }
}

.price__tariff-title {
  padding: 0;
  background-color: @header-background;
  border-right: 2px solid @border-color;
  border-bottom: 2px solid @border-color;

  &--empty {
    background-color: @features-background;
  }

  &--hit {
    background: @header-background url("../img/bg-hit.png") no-repeat 0 0;
  }
}

.price__options {
  height: 60px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @text-color;
  text-align: left;
  border-bottom: 2px solid @border-color;
}

.price__option-name {
  width: 34%;
  padding: 0;
  padding-left: 23px;
  text-transform: uppercase;
  border-left: 2px solid @border-color;
  background-repeat: no-repeat;

  &--yes {
    background-image: url("../img/icon-yes.svg");
    background-size: 31px 21px;
    background-position: 229px 18px;
  }

  &--no {
    background-image: url("../img/icon-no.svg");
    background-position: 231px 16px;
  }

  &--first {
    width: 1px;
    font-size: 0;
    padding: 0;
    border: none;
  }
}

.price__buttons {
  display: flex;
  justify-content: center;
  list-style: none;
}

@media (min-width: @tablet-width) {
  .price__background {
    margin-top: 20px;
    padding-bottom: 30px;
  }

  .price__wrapper {
    width: 620px;
  }

  .price__table {
    position: static;
    width: 620px;
  }

  .price__tariff {
    height: 78px;
  }

  .price__tariff-title {
    width: 160px;
    padding: 0;
    padding-top: 5px;
    font-size: 16px;
    line-height: 25px;

    span {
      font-size: 18px;
      line-height: 30px;
    }
  }

  .price__tariff-title--hit {
    background-position: -3px -10px;
  }

  .price__options {
    height: 46px;
  }

  .price__option-name {
    font-size: 0;
    background-position: 50% 50%;
    padding-left: 15px;

    &--first {
      font-size: 14px;
      text-transform: none;
    }
  }

  .price__buttons {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .price__background {
    padding-top: 157px;
    padding-bottom: 55px;
  }

  .price__wrapper {
    width: 940px;
  }

  .price__table {
    width: 940px;
  }

  .price__tariff {
    height: 100px;
    font-size: 18px;

    span {
      font-size: 24px;
    }
  }

  .price__tariff-title {
    padding-top: 0;
    font-size: 18px;
    line-height: 30px;
  }

  .price__tariff-title--hit {
    background-position: 0 0;
  }

  .price__options {
    height: 60px;
    font-size: 18px;
  }

  .price__option-name--first {
    font-size: 18px;
    padding-left: 20px;
  }
}
