.reviews__wrapper {
  margin-top: -42px;
  padding-top: 42px;
  background-color: @text-background;
}

.reviews__slider {
  position: relative;
  width: 300px;
  margin: 0 auto;
  top: 0;
  left: 0;
}

.reviews__list-wrapper {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.reviews__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.reviews__item {
  width: 300px;
  flex-shrink: 0;
  list-style: none;
}

.reviews__text {
  display: block;
  min-height: 270px;
  margin: 0 auto;
  padding: 50px 50px 30px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @text-color;
  text-align: center;
}

.reviews__name {
  order: -1;
  margin: 0 auto;
  padding-bottom: 13px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: @subtitle-color;
  text-align: center;
}

.reviews__age {
  display: none;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @text-color;
  text-align: center;
}

.reviews__buttons {
  display: flex;
  justify-content: center;
  list-style: none;
}

.reviews__arrows {
  display: none;
}

@media (min-width: @tablet-width) {
  .reviews__wrapper {
    margin: 0;
    padding: 0;
    padding-top: 95px;
  }

  .reviews__slider {
    width: 640px;
  }

  .reviews__item {
    width: 640px;
  }

  .reviews__name {
    order: 0;
    padding-bottom: 0;
    font-size: 20px;
  }

  .reviews__age {
    display: block;
    margin: 0;
    padding-bottom: 33px;
  }

  .reviews__text {
    min-height: 150px;
    padding-bottom: 35px;
    font-size: 18px;
  }
}

@media (min-width: @desktop-width) {
  .reviews__wrapper {
    padding-top: 50px;
    padding-bottom: 105px;
    background: url("../img/icon-quotes.svg") no-repeat 50% 75px;
  }

  .reviews__slider {
    width: 960px;
  }

  .reviews__item {
    width: 960px;
  }

  .reviews__buttons {
    display: none;
  }

  .reviews__text {
    padding: 120px 50px 30px;
  }

  .reviews__name {
    font-size: 24px;
    padding-bottom: 3px;
  }

  .reviews__age {
    font-size: 18px;
    padding-bottom: 0;
  }

  .reviews__arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
  }

  .reviews__arrows-prev {
    width: 22px;
    height: 42px;
    padding: 0;
    border: none;
    cursor: pointer;
    opacity: 0.3;
    background: url("../img/icon-review-arrow-left.svg") no-repeat 0 0;
  }

  .reviews__arrows-next {
    width: 22px;
    height: 42px;
    padding: 0;
    border: none;
    cursor: pointer;
    opacity: 0.3;
    background: url("../img/icon-review-arrow-right.svg") no-repeat 0 0;
  }

  .reviews__arrows-prev:hover,
  .reviews__arrows-prev:focus,
  .reviews__arrows-next:hover,
  .reviews__arrows-next:focus {
    opacity: 0.6;
  }

  .reviews__arrows-prev:active,
  .reviews__arrows-next:active {
    opacity: 0.1;
  }
}
