.site-list {
  margin: 0;
  list-style: none;

  outline: 1px solid green;
}

.site-list__item {
  padding-top: 17px;
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: @header-color;
  text-align: center;
  text-transform: uppercase;

  a {
    text-decoration: none;
    color: @header-color;
  }

  outline: 1px solid green;
}

@media (min-width: 1200px) {
  .site-list__item {
    padding: 0;
    padding-top: 45px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    text-transform: none;
  }
}
