.slogan {
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @text-color;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .slogan {
    padding-top: 90px;
    padding-bottom: 60px;
    font-size: 18px;
    line-height: 30px;
  }
}
