.social-list {
  list-style: none;
}

.social-list__item--twitter {
  padding-top: 15px;
  padding-bottom: 15px;
  background: url("../img/icon-twitter.svg") no-repeat 50% 50%;
}

.social-list__item--facebook {
  padding-top: 15px;
  padding-bottom: 15px;
  background: url("../img/icon-facebook.svg") no-repeat 50% 50%;
}

.social-list__item--youtube {
  padding-top: 15px;
  padding-bottom: 15px;
  background: url("../img/icon-youtube.svg") no-repeat 50% 50%;
}
