.social-list {
  list-style: none;
}

.social-list__item {
  padding-top: 15px;
  padding-bottom: 15px;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &--twitter {
    background-image: url("../img/icon-twitter.svg");
  }

  &--facebook {
    background-image: url("../img/icon-facebook.svg");
  }

  &--youtube {
    background-image: url("../img/icon-youtube.svg");
  }
}
