.user-photo {
  margin: 0;
  margin-bottom: 20px;
  color: @text-color;

  a {
    display: block;
    margin: 0;
  }
}

.user-photo--panorama a {
  margin: 0;
}

.user-photo__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  min-height: 80px;
  padding: 18px 18px;
  text-align: left;
  background-color: @photo-background;
}

.user-photo__image {
  display: block;
  width: 100%;
}

.user-photo__name {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: @text-color;
  text-align: left;

  &--nadezhda {
    padding-top: 2px;
  }
}

.user-photo__name span {
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  color: @text-color;
  text-transform: uppercase;
}

.user-photo__text {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: @text-color;
  text-align: left;
}

.user-photo__likes {
  display: block;
  margin-top: 9px;
  padding-left: 30px;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  color: @likes-color;
  text-align: left;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  background: transparent url("../img/icon-heart.svg") no-repeat 0 5px;
}


@media (min-width: @tablet-width) {
  .user-photo:not(:first-child) {
    width: 300px;
    margin-bottom: 22px;
  }

  .user-photo:first-child {
    flex-grow: 1;
  }

  .user-photo a {
    margin: 0;
  }

  .user-photo__wrapper {
    justify-content: flex-start;
    min-height: 111px;
    margin: 0;
    padding-top: 24px;
    padding-left: 27px;

    .user-photo__likes {
      margin-top: auto;
      background-position: 229px 6px;
    }
  }

  .user-photo__wrapper--panorama {
    position: relative;
    min-height: 80px;
    margin-bottom: 30px;
    padding-top: 22px;

    .user-photo__likes {
      position: absolute;
      right: 19px;
      top: 23px;
      z-index: 1;
      width: 130px;
      background-position: 107px 6px;
    }

    .user-photo__text {
      padding-bottom: 7px;
    }
  }

  .user-photo__likes {
    padding-left: 0;
    background-position: 107px 5px;
  }
}

@media (min-width: @desktop-width) {
  .user-photo__wrapper--panorama {
    min-height: 50px;
    margin-bottom: 0;
  }

  .user-photo:first-child {
    margin-bottom: 50px;
  }

  .user-photo:not(:first-child) {
    margin-bottom: 55px;
  }
}
