@header-color: #ffffff;
@text-color: #283645;
@downloads-background: #1d2631;
@features-background: #f2f2f2;
@subtitle-color: #000000;
@text-background: #ffffff;
@photo-background: #f2f2f2;
@likes-color: #d22856;
