@header-color: #ffffff;
@text-color: #283645;
@header-background: #283645;
@downloads-background: #1d2631;
@features-background: #f2f2f2;
@subtitle-color: #000000;
@text-background: #ffffff;
@photo-background: #f2f2f2;
@button-background: #2aab6d;
@menu-border-light: #485461;
@menu-border-dark: #000000;
@menu-desktop: rgba(0, 0, 0, 0.3);
@likes-color: #d22856;
@border-color: #e5e5e5;
@tablet-width: 660px;
@desktop-width: 960px;
@nodesktop-width-only: 959px;
@retina-dppx: 1.5dppx;
